In [ ]:
import pymysql as mariadb
import pandas as pd
import re
import numpy as np

In [ ]:
#loading the articles ()

connection = mariadb.connect(
    host="localhost",
#    database="masterarbeit",    
#    user="user",
#    password="password"
)

sql = ("SELECT * "
       "FROM artikel "
       "WHERE newsoutlet = 'blick'")

df2 = pd.read_sql_query(sql, connection)

In [ ]:
df2 = df2.drop(columns = ["title", "lead", "time", "author", "article_text", "cat_given2", "cat_given1", 
                         "newsoutlet"])

In [ ]:
df2 = df2.set_index("url")

In [ ]:
#connecting to commentaires
sql2 = ("SELECT * "
       "FROM kommentare "
       "WHERE outlet = 'blick'")

df1 = pd.read_sql_query(sql2, connection)
df1 = df1.set_index("url")

In [ ]:
df1 = pd.read_csv("blick_kom.csv", delimiter = "|", header = None)
df1 = df1.set_index(df1[0])
df1
#url | url | text | kom_datum | kom_zeit | outlet | wochentag | zeitkat | l√§nge = sorting to be - let's check

In [ ]:
df3 = df1.join(df2, how="inner")
#df3 = df3.drop(columns = ["kom_datum", "kom_zeit"])
#df3 = df3.set_index("url")

In [ ]:
df3 = df3.sort_values(by="date")
df3 = df3.drop([0], axis = 1)

In [ ]:
df3.to_csv("blick_kom_fin.csv", index= True, sep = "|", header = None)