In [ ]:
import pymysql as mariadb
import pandas as pd
import matplotlib
from sklearn.feature_extraction.text import TfidfVectorizer
import nltk
import random
from sklearn.cluster import KMeans
import re
from wordcloud import WordCloud
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
connection = mariadb.connect(
    host="localhost",
#    database="masterarbeit",    
#    user="user",
#    password="password"
)

sql = ("SELECT * "
       "FROM article "
       "WHERE newsoutlet = 'nzz'")

df_artikel = pd.read_sql_query(sql, connection)

In [ ]:
df2 = df_artikel
df2 = df2.drop(columns = ["title", "lead", "art_zeit", "author", "art_text", "cat_give2", "cat_give1", 
                         "newsoutlet"])

In [ ]:
df2 = df2.set_index("url")
df2

In [ ]:
#connecting to kommentare
sql2 = ("SELECT * "
       "FROM kommentare "
       "WHERE outlet = 'nzz'")

df1 = pd.read_sql_query(sql2, connection)
df1 = df1.set_index("url")

df1 = df1.set_index(df1[0])

In [ ]:
df3 = df1.join(df2, how="inner")

#df3 = df3.drop(columns = ["kom_datum", "kom_zeit"])
#df3 = df3.set_index("url")

In [ ]:
df3 = df3.drop([0], axis =1)
df3

In [ ]:
df3 = df3.sort_values(by="date")

In [ ]:
df3.to_csv("nzz_kom_fin.csv", index= True, sep = "|", header = None)